@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  --color-brand-1: hsl(0, 0%, 81%);
  --color-brand-2: hsla(0, 0%, 100%, 0.5);
  --color-brand-3: hsla(0, 0%, 100%, 0.7);

  --color-site-1: hsl(210, 46%, 95%);

  --color-site-2: hsl(263, 55%, 52%);
  --color-site-3: hsl(217, 19%, 35%);
  --color-site-4: hsl(0, 0%, 100%);
  --color-site-5: hsl(219, 29%, 14%);

  --font-barlow-semi: "Barlow Semi Condensed", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-barlow-semi);
}

html {
  font-size: 62.5%;
}

.CardContainer {
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  border-radius: 1rem;
}

.CardContainer:first-of-type {
  background: url("./assets/bg-pattern-quotation.svg");
  background-position: top right 2rem;
  background-repeat: no-repeat;
  background-size: 12rem 12rem;
  background-color: var(--color-site-2);
}

.CardContainer:nth-of-type(2) {
  background-color: var(--color-site-3);
}

.CardContainer:nth-of-type(3) {
  background-color: var(--color-site-4);
}

.CardContainer:nth-of-type(3) .CardContainer-UserBox-UserInfo-UserName,
.CardContainer:nth-of-type(5) .CardContainer-UserBox-UserInfo-UserName {
  color: var(--color-site-5);
}

.CardContainer:nth-of-type(3) .CardContainer-UserBox-UserInfo-Verified,
.CardContainer:nth-of-type(5) .CardContainer-UserBox-UserInfo-Verified {
  color: var(--color-brand-1);
}

.CardContainer:nth-of-type(3) .CardContainer-Desc,
.CardContainer:nth-of-type(5) .CardContainer-Desc {
  color: var(--color-site-5);
}

.CardContainer:nth-of-type(3) .CardContainer-Review,
.CardContainer:nth-of-type(5) .CardContainer-Review {
  color: var(--color-site-3);
}

.CardContainer:nth-of-type(4) {
  background-color: var(--color-site-5);
}

.CardContainer:nth-of-type(5) {
  background-color: var(--color-site-4);
}

.CardContainer-UserBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.CardContainer-UserBox-UserImgBox {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
}

.CardContainer-UserBox-UserImgBox > img {
  width: 100%;
  height: 100%;
}

.CardContainer-UserBox-UserInfo-UserName {
  font-size: 2rem;
  color: var(--color-site-4);
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.CardContainer-UserBox-UserInfo-Verified {
  font-size: 1.6rem;
  color: var(--color-brand-2);
}

.CardContainer-Desc {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 2rem;
  color: var(--color-site-4);
  font-weight: 700;
}

.CardContainer-Review {
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--color-brand-3);
}

@media screen and (min-width: 600px) {
  .CardContainer:nth-of-type(1) {
    grid-area: 1/1/2/4;
    background: url("./assets/bg-pattern-quotation.svg");
    background-position: top right 50%;
    background-repeat: no-repeat;
    background-size: 12rem 12rem;
    background-color: var(--color-site-2);
  }
  .CardContainer:nth-of-type(2) {
    grid-area: 2/1/3/2;
  }
  .CardContainer:nth-of-type(3) {
    grid-area: 3/1/3/2;
  }
  .CardContainer:nth-of-type(4) {
    grid-area: 4/1/4/4;
  }
  .CardContainer:nth-of-type(5) {
    grid-area: 2/2/4/3;
  }
}

@media screen and (min-width: 900px) {
  .CardContainer:nth-of-type(1) {
    grid-area: 1/1/1/3;
  }
  .CardContainer:nth-of-type(2) {
    grid-area: 1/3/1/3;
  }
  .CardContainer:nth-of-type(3) {
    grid-area: 2/1/2/2;
  }
  .CardContainer:nth-of-type(4) {
    grid-area: 2/2/2/4;
  }
  .CardContainer:nth-of-type(5) {
    grid-area: 1/4/3/4;
  }
}
